pymongo
motor
bcrypt
PyJWT
python-dotenv
sentence-transformers
transformers
langchain
langchain-community
langchain-huggingface
langchain_google_genai
huggingface_hub
fastapi
uvicorn
twilio
PyJWT
bcrypt
starlette
python-jose[cryptography]